In [1]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

ERD Diagram

 ![png](BooksErdDiagram.PNG)

In [2]:
connec_str = "mysql+pymysql://root:root@localhost/BooksDB"

In [3]:
engine = create_engine(connec_str)

In [4]:
create_database(connec_str)

In [5]:
if database_exists(connec_str):
    print("The database has been created successfully!")

The database has been created successfully!

In [6]:
if database_exists(connec_str) == False:
  create_database(connec_str)
else:
  print('The database already exists!')

The database already exists!

Authors to table

In [7]:
URLauth = "data/authors.csv"
dfauth = pd.read_csv(URLauth)
dfauth.head()
dfauth.to_sql("authors", engine, if_exists = "replace")

5

Books to table

In [8]:
URLbook = "data/books.csv"
dfbook = pd.read_csv(URLbook)
dfbook.head()
dfbook.to_sql("books", engine, if_exists = "replace")

6

Favourites to table

In [9]:
URLfav = "data/favourites.csv"
dffav = pd.read_csv(URLfav)
dffav.head()
dffav.to_sql("favourites", engine, if_exists = "replace")

7

Users to table

In [10]:
URLuse = "data/users.csv"
dfuse = pd.read_csv(URLuse)
dfuse.head()
dfuse.to_sql("users", engine, if_exists = "replace")

3

In [11]:
qry = "SHOW TABLES;"
pd.read_sql(qry, engine)

  Tables_in_booksdb
0           authors
1             books
2        favourites
3             users

In [12]:
qryfinal = """SELECT books.title, favourites.user_id
              FROM books
              JOIN favourites ON books.id = favourites.book_id
              WHERE favourites.user_id = 
              (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));"""

pd.read_sql(qryfinal, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1